<h1>All Listings</h1>
<a href="/listings/new">+ Create New Listing</a>
<ul>
  <% allListings.forEach(listing => { %>
    <li>
      <a href="/listings/<%= listing._id %>"><%= listing.title %></a> — ₹<%= listing.price %>
    </li>
  <% }) %>
</ul>